<ul>
    <% if action == :index  %>
        <li> <a href="<%= cats_url(cat.id) %>"> Cats show page </a> </li>
    <% else %>
        <li> <a href="<%= cats_url%>"> Cats index page </a> </li>
    <% end %>
    <li> <%= cat.name %> </li>
    <li> <%= cat.color %> </li>
    <li> <%= cat.birthdate %> </li>
    <li> <%= cat.description %> </li>
    <li> <%= cat.sex %> </li>

</ul>
